@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-epic-900 text-gray-200 font-sans;
  }
  
  h1, h2, h3, h4, h5, h6, .font-cinzel {
    @apply font-serif tracking-wide;
  }
}

:root, .theme-obsidian {
  --epic-900: 2 6 23;
  --epic-800: 15 23 42;
  --epic-700: 30 41 59;
  --epic-gold: 251 191 36;
  --epic-gold-dim: 180 83 9;
  --epic-ruby: 159 18 57;
}

.theme-crimson {
  --epic-900: 42 10 24;
  --epic-800: 74 21 37;
  --epic-700: 107 31 51;
  --epic-gold: 251 113 133;
  --epic-gold-dim: 225 29 72;
  --epic-ruby: 159 18 57;
}

.theme-ocean {
  --epic-900: 8 28 44;
  --epic-800: 16 52 77;
  --epic-700: 26 77 109;
  --epic-gold: 56 189 248;
  --epic-gold-dim: 2 132 199;
  --epic-ruby: 14 165 233;
}

.theme-forest {
  --epic-900: 6 36 18;
  --epic-800: 13 65 34;
  --epic-700: 21 98 55;
  --epic-gold: 74 222 128;
  --epic-gold-dim: 22 163 74;
  --epic-ruby: 34 197 94;
}
